* {
  box-sizing: border-box;
}

.searchInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


.saleTableStyle {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: bold;
}

.saleTableStyle th, .saleTableStyle td {
  text-align: left;
  padding: 10px;
}

.saleTableStyle tr {
  border-bottom: 1px solid #ddd;
}

.saleTableStyle tr.header, .saleTableStyle tr:hover {
}

.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, .5);
    padding: 10px;
}

.soldTableHeaderStyle {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
}

.soldTableHeaderStyle th, .soldTableHeaderStyle td {
  text-align: left;
  padding: 10px;
}

.soldTableHeaderStyle tr {
  border-bottom: 1px solid #ddd;
}

.soldTableHeaderStyle tr.header, .soldTableHeaderStyle tr:hover {
}

.printTableStyle {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: bold;
  width: 76mm;
  table-layout: fixed;
}

.printTableStyle th, .printTableStyle td {
  text-align: left;
  padding: 10px;
}

.printTableStyle tr {
  border-bottom: 1px solid #ddd;
}

.printTableStyle tr.header, .printTableStyle tr:hover {
}
