<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('dhs:static/pyramid-16x16.png')}}">

    <title>Cookiecutter Alchemy project for the Pyramid Web Framework</title>

    <!-- Bootstrap core CSS -->
    <link href="{{request.static_url('dhs:static/tp/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('dhs:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->

    <style type="text/css">
        .well{
            margin-bottom: 0px;
        }
    </style>

  </head>

  <body ng-app = "dhsApp"> 
    {% raw %}

        <div class="row">
            <div class="col-sm-12 well" style="background-color:teal;color:white;font-weight:bold;" align="center">
                Dhanraj Hardware Stores &reg;
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 well" style="height:100%">
                <ul class="list-unstyled" style="padding:10px;">
                    <li><a href='#!sale'>Sale</a></li>
                    <li><a href='#!purchase'>Purchase</a></li>
                    <li><a href='#!products'>Products</a></li>
                </ul>

            </div>
            <div class="col-sm-11 well" style="height:100%">
                <div ng-view> </div>
            </div>
        </div>

    {% endraw %}
    </div-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='static/js/tp/jquery.min.js'></script>
    <script src='static/js/tp/bootstrap.min.js'></script>
    <script src='static/js/tp/angular.min.js'></script>
    <script src='static/js/tp/angular-route.js'></script>
    <script src='static/js/dhs.core.js'></script>
  </body>
</html>
