<link rel="stylesheet" href="static/dhs.products.css">
<script src='static/js/dhs.products.js'></script>



<div class="col-sm-6">
    <input type="text" id="myInput" onkeyup="product_search()" placeholder="name...">

    <table id="myTable">
      <tr class="header">
        <th style="width:60%;">Product</th>
      </tr>
      {% for item in result %}
        <tr>
            <td>{{item}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
